{% extends 'base.html' %}

{% block content %}

<br>
<br>

<div class="container">
    <div class="row justify-content-center">
        <h1 class="w-75" style="text-align: center;">Mission Statement</h1>
        <br>

        <br>

        <p class="w-75">
            Our mission is to help provide users with personalized listening insights in order to help you learn about the music you already love. 
        </p>

        <p class="w-75">
            <b>Why music?</b>
        </p>

        <p class="w-75">
            As an avid music listener, our developer wanted to spread Spotify's music insights to everyone who wants to see them.
        </p>

        <p class="w-75">
            <b>What does that have to do with this project?</b>
        </p>
        
        <p class="w-75">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. These are now just sample words 
            that will soon be filled with precious information.
        </p>
    </div>

    <hr>

    <div class="row justify-content-center">
        <h1 class="w-75" style="text-align: center;">Project Goals</h1>
        <br>

        <br>

        <p class="w-75">
            For this project, our team had three primary goals in mind...
        </p>

        <p class="w-75">
            <b>Step1 </b>
        </p>

        <p class="w-75">
            Step 2
        </p>

        <p class="w-75">
            <b>Step 3</b>
        </p>

        <p class="w-75">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. These are now just sample words 
                  that will soon be filled with precious information.
        </p>

        <p class="w-75">
            <b>Make it </b>
        </p>

        <p class="w-75">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. These are now just sample words 
                  that will soon be filled with precious information.
          
        </p>   
        
    </div>

    <br>
    <br>

   
</div>


{% endblock %}