{% extends 'base.html' %}

{% block content %}

<br>
<br>

<div class="container">
    <div class="row justify-content-center">
        <h1 class="w-75" style="text-align: center;">How to Authorize the use of your Spotify Account</h1>
        <br>

        <br>

        <p class="w-75">
           In order to access your personalized insights, you use give this application permission to access your listening history and top songs.
           You will be redirected to a secured page by Spotify that will enable you to give us authorization.
           Don't worry, we don't sell any of your information :)
        </p>

        <p class="w-75">
        
            <b>Authorize your Spotify Account </b> <a href='/instantspot'>here</a>.
            
        </p>

        <p class="w-75">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. These are now just sample words 
                  that will soon be filled with precious information.
        </p>

        <p class="w-75">
            <b>What does that have to do with this project?</b>
        </p>
        
        <p class="w-75">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. These are now just sample words 
            that will soon be filled with precious information.
        </p>
    </div>

    <hr>

    <!--FORM GOES HERE-->


    <!--FORM ENDS HERE-->

{% endblock %}