{% extends 'base.html' %}

{% block content %}

<br>
<br>

<div class="container">
    <div class="row justify-content-center">
        <h1 class="w-75" style="text-align: center;">How to Authenticate your Spotify Account</h1>
        <br>

        <br>

        <p class="w-75">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <p class="w-75">
            <b>Why music?</b>
        </p>

        <p class="w-75">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. These are now just sample words 
                  that will soon be filled with precious information.
        </p>

        <p class="w-75">
            <b>What does that have to do with this project?</b>
        </p>
        
        <p class="w-75">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. These are now just sample words 
            that will soon be filled with precious information.
        </p>
    </div>

    <hr>

    <!--FORM GOES HERE-->


    <!--FORM ENDS HERE-->

<!--FOOTER-->

<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: black">
      <div class = "nav-link-active">
      <a class="text-light" href="https://mdbootstrap.com/">Manage Playlist Insights</a>  
      <a class="text-light" href="https://mdbootstrap.com/">Manage Song Insights</a>
      
      </div>
    </div>
    <!-- Copyright -->
  </footer>
{% endblock %}